body {
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}
ul {
	background-color: deeppink;
	box-shadow: 5px 5px black;
	width: 310px;
	padding: 10px 0px 10px 0px;
}
li {
	/* background-color: darkcyan; */
	display: inline;
	color: black;
	padding: 5px;
}
li.coming-soon {
	display: none;
}
/*
a {
	padding: 5px;
}*/
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
}
a:hover {
	color: white;
	text-decoration: none;
}